.example-spacer {
    flex: 1 1 auto;
}

.drawer-content{
    height: 100vh;
}

body{
    background: rgb(0,226,206);
    background: linear-gradient(164deg, rgba(0,226,206,1) 0%, rgba(150,15,196,1) 0%, rgba(84,255,240,1) 100%);
}
  