<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>SKITTER</span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/formulario" routerLinkActive="active">Formulario</a>
      <a mat-list-item routerLink="/tabla" routerLinkActive="active">Tabla</a>
      <a mat-list-item routerLink="/error" routerLinkActive="active">Error</a>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

